.spin-container {
  display: inline-block;
  width: 100%;
  height: 100vh;
  position: relative;
  border: 1px solid #eee;
}

.spin-icon-load {
  animation: ani-spin 1s linear infinite;
}

@keyframes ani-spin {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-col {
  height: 100px;
  position: relative;
  border: 1px solid #eee;
}
